---
import GalleryGrid from '../components/GalleryGrid';
import Layout from '../layouts/Layout.astro';
import galleryData from '../data/gallery.json';

const items = galleryData;
---

<Layout title="Gallery : About Orofil">
	<section id="gallery-start">
		<h1>Gallery</h1>
		<p>
			Here's a showcase of some of my photos.
		</p>
		<p>
			Find more on my <a target="_blank" href="https://www.tumblr.com/orofil">Tumblr blog</a>.
		</p>
	</section>
	<section>
		<GalleryGrid items={items} client:load />
	</section>
</Layout>

<style>
	#gallery-start {
		max-width: 500px;
		margin: 0 auto;
	}

	section {
		width: 100%;
	}

	section > :global(.GalleryGrid) {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
</style>