---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gallery : About Orofil">
	<section id="gallery-start">
		<h1>Gallery</h1>
		<p>
			Here's a showcase of some of my photos.
		</p>
	</section>
	<section>
		Photos coming soon...
	</section>
</Layout>

<style>
	#gallery-start {
		max-width: 500px;
		margin: 0 auto;
	}
</style>