---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Orofil">
	<div>
		<div id="links-container">
			<p>Find me on…</p>
			<div id="links-list">
				<ul>
					<li><a target="_blank" href="https://github.com/Orofil">GitHub</a></li>
					<li><a target="_blank" href="https://bandcamp.com/orofil">Bandcamp</a></li>
					<li><a target="_blank" href="https://www.last.fm/user/Orofil">last.fm</a></li>
                    <li><a target="_blank" href="https://www.tumblr.com/orofil">Tumblr</a></li>
					<li><a target="_blank" href="https://bsky.app/profile/orofil.bsky.social">Bluesky</a></li>
				</ul>
			</div>
		</div>
        
		<h1>Orofil</h1>
		<p>Hello! Welcome to my page about things such as...</p>
		<ul id="introduction-things">
			<li>photography, nature,<br>and the art I see in it</li>
			<li>music</li>
			<li>other arts</li>
			<li>computer stuff</li>
			<li>video games</li>
		</ul>

		<p>This website is still a <strong>work in progress</strong>!</p>
	</div>
</Layout>

<style>
	h1 {
		letter-spacing: 0.04em;
	}
	
	a {
		text-underline-offset: 5px;
	}

	a:hover {
		background-color: var(--link-color);
		color: var(--background-color);
		text-decoration-line: underline;
	}

	#introduction-things {
		list-style-type: none;
		list-style-position: outside;
	}

	#introduction-things > li {
		position: relative;
		width: fit-content;
		max-width: calc(100% - 3.5em); /* TODO make this implementation cleaner */
		min-width: 0;
		padding-top: 2px;
		padding-bottom: 2px;
		margin-left: -30px;
	}

	#introduction-things > li::before {
		content: "- ";
		opacity: 0.6;
	}

	#introduction-things > li:nth-child(1) {
		color: #9bd680;
		left: 1em;
	}
	#introduction-things > li:nth-child(2) {
		color: #80a8d6;
		left: 3.5em;
	}
	#introduction-things > li:nth-child(3) {
		color: #a880d6;
		left: 2.6em;
	}
	#introduction-things > li:nth-child(4) {
		color: #d6b480;
		left: 3.8em;
	}
	#introduction-things > li:nth-child(5) {
		color: #d68095;
		left: 1.2em;
	}

	#links-container {
		width: 100%;
		margin-top: 2.5rem;
	}

	#links-container > p {
		margin-bottom: 0.5em;
		font-style: italic;
		color: var(--link-color-lighter);
	}

	#links-list {
		border-block: 0.18em solid var(--link-color);
		padding-left: 0;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}

	#links-list ul {
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 0.65em 1rem;
		margin: 0;
		padding-left: 0;
	}

	#links-list li {
		padding: 0;
		margin: 0;
	}

	#links-list a {
		display: inline-block;
		padding: 0.15em 0;
	}

	@media screen and (min-width: 40rem) {
		#links-container {
			margin-top: unset;
			
			position: absolute;
			top: 5em;
			right: 5em;
			/* width: 16em; */
            width: fit-content; /* TODO maybe clamp or something so it's wider when the screen is wider */
		}

		#links-list {
			border-block: unset;
			padding-left: 0.75em;
			padding-top: unset;
			padding-bottom: 0.5em;

			border-left: 0.2em solid var(--link-color);
		}

		#links-list ul {
			display: unset;
			margin: unset;
			padding-left: unset;
		}

		#links-list li {
			padding-top: 2px;
			padding-bottom: 2px;
		}

		#links-list a {
			display: unset;
			padding: unset;
		}
	}
</style>