---
import NavBar from '../components/NavBar.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavBar />
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	@font-face {
		font-family: Nunito;
		src: url('/about/fonts/Nunito-VariableFont_wght.ttf') format("truetype");
	}

	:root {
		--background-color: hsl(265, 26%, 10%);
		--background-color-2: hsl(265, 27%, 14%);
		--accent-color: hsl(300, 100%, 90%);
		--text-color: hsl(240, 53%, 91%);
		--link-color: hsl(276, 31%, 53%);
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		width: 100%;
		min-height: 100vh;

		background-color: var(--background-color);
		color: var(--text-color);
		font-family: Nunito;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2em;
	}

	/* TODO make better, also article + sections inside main */
	:global(main > div) {
		max-width: 700px;
		margin: 0 auto;
	}

	:global(a) {
		color: var(--link-color);
	}
</style>
